<!DOCTYPE html>
<html>
<head>
	<title><%= @guest.name %></title>
</head>
<body>
	<h1><%= @guest.name %></h1>
	<h3><%=@guest.occupation%></h3>
	<%=link_to "back to index", guests_path %>

</body>
</html>